.card__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(29 / 24);
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;


    box-sizing: border-box;
    padding: 24px 0 28px 21px;
    margin: 0;
    align-items: center;
}