.popup__container {
    position: absolute;
    top: 195px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 430px;

    background-color: white;
    border-radius: 10px;
    padding: 34px 36px 37px;

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .popup__container {
        top: 160px;
        width: 356px;
        padding: 30px 30px 30px;
    }
}

@media screen and (max-width: 320px) {
    .popup__container {
        top: 123px;
        width: 282px;
        padding: 25px 22px;
    }
}