.form__item {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);

    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 30px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}