.header {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;

    box-sizing: border-box;
    padding-top: 45px;
    padding-right: 200px;

    /*формула интерполирует точки между размерами 19px при окне 320px и 200px (181 + 19) при окне 1280px */
    /*при окне меньше 320px сохраняется размер 19px, при окне больше 1280px сохраняется размер 200px*/
    /*попытка выстроить размеры медиа-запросами приводит к скачкообразному изменению параметра*/
    padding-left: calc((181 / (1280 - 320)) * (min(max(100vw, 320px), 1280px) - 320px) + 19px);
}


@media screen and (max-width: 700px) {
    .header {
        padding-top: 35px;
        padding-right: 91px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        padding-top: 30px;
        padding-right: 44px;
    }
}

@media screen and (max-width: 350px) {
    .header {
        padding-top: 28px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        border-bottom: solid 1px #545454;
    }
}
