.card__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background: url("../../../images/icons/trash.svg") no-repeat;
    border: none;
    z-index: 15;
    visibility: hidden;

}

.card__trash:hover {
    opacity: 60%;
    cursor: pointer;
}