/*vendor*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/*page-root*/
@import url(../blocks/page-root/page-root.css);

/*body*/
@import url(../blocks/body/body.css);

/*content*/
@import url(../blocks/content/content.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__image.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__card/profile__card.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subheading/profile__subheading.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__overlay/profile__overlay.css);
@import url(../blocks/profile/__pencil/profile__pencil.css);

/*galley*/
@import url(../blocks/gallery/gallery.css);

/*card*/
@import url(../blocks/card/card.css);
@import url(../blocks/card/__item/card__item.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__heart/card__heart.css);
@import url(../blocks/card/__heart/_active/card__heart_on.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__trash/card__trash.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__likes-amount/card__likes-amount.css);
@import url(../blocks/card/__likes-amount/_active/card__likes-amount_active_on.css);
@import url(../blocks/card/__trash/_active/card__trash_active_on.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__type/popup__type_place.css);
@import url(../blocks/popup/__type/popup__type_profile.css);
@import url(../blocks/popup/__type/popup__type_picture.css);
@import url(../blocks/popup/__picture-container/popup__picture-container.css);
@import url(../blocks/popup/__picture-heading/popup__picture-heading.css);
@import url(../blocks/popup/__picture/popup__picture.css);

/*form-profile*/
@import url(../blocks/popup/__form-input/popup__form-input.css);
@import url(../blocks/popup/__form-save-button/popup__form-save-button.css);
@import url(../blocks/popup/__form-save-button/popup__form-save-button_inactive.css);

/*form-related*/
@import url(../blocks/popup/__form-input/_type/popup__form-input_type_error.css);
@import url(../blocks/popup/__form-span-error/popup__form-span-error.css);
@import url(../blocks/popup/__form-span-error/_active/popup__form-span-error_active.css);
