.profile__name {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc((15 / (1280 - 320)) * (min(max(100vw, 320px), 1280px) - 320px) + 27px);
    line-height: calc(48/42);
    color: #FFFFFF;

    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1150px) {
    .profile__name {
        box-sizing: border-box;
        margin-left: 33px;
    }
}