.profile__avatar {
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;

    justify-content: center;
    align-items: center;

    background-image: url("https://pictures.s3.yandex.net/frontend-developer/common/ava.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile__avatar:hover .profile__overlay {
    opacity: 0.8;
}

.profile__avatar:hover .profile__pencil {
    opacity: 1;
}