.popup__close-button {
    position: absolute;
    width: calc((12 / (1280 - 320)) * (min(max(100vw, 320px), 1280px) - 320px) + 20px);
    height: calc((12 / (1280 - 320)) * (min(max(100vw, 320px), 1280px) - 320px) + 20px);
    top: -40px;
    right: calc((-40 / (1280 - 320)) * (min(max(100vw, 320px), 1280px) - 320px));
}

.popup__close-button:hover {
    opacity: 60%;
}