.popup__close-button {
    position: absolute;
    background: url("../../../images/icons/close-icon.svg") no-repeat top right;
    border: none;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 1040px) {
    .popup__close-button {
        right: -30px;
        background-size: 29px 29px;
    }
}

@media screen and (max-width: 768px) {
    .popup__close-button {
        right: -19px;
        background-size: 26px 26px;
    }
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        right: 0;
        background-size: 20px 20px;
    }
}

@keyframes disappear {
    from { opacity: 1; }
      to { opacity: 0; }
}