/*vendor*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/*page-root*/
@import url(../blocks/page-root/page-root.css);

/*body*/
@import url(../blocks/body/body.css);

/*content*/
@import url(../blocks/content/content.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__image.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__card/profile__card.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subheading/profile__subheading.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/*galley*/
@import url(../blocks/gallery/gallery.css);

/*card*/
@import url(../blocks/card/card.css);
@import url(../blocks/card/__item/card__item.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_on.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__trash/card__trash.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__type/popup__type_place.css);
@import url(../blocks/popup/__type/popup__type_profile.css);

/*form-profile*/
@import url(../blocks/form-profile/__item/form-profile__item.css);
@import url(../blocks/form-profile/__save-button/form-profile__save-button.css);

/*form-place*/
@import url('../blocks/form-place/__item/form-place__item.css');
@import url('../blocks/form-place/__save-button/form-place__save-button.css');