.card__like {
    width: 25px;
    background: url("../../../images/icons/gallery-favourite-off.svg") white no-repeat center;
    border: none;
    margin: 0 19px 0 5px;
}

.card__like:hover {
    opacity: 60%;
    cursor: pointer;
}

