.footer {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;

    box-sizing: border-box;
    padding: 66px 200px 60px;
}

@media screen and (max-width: 700px) {
    .footer {
        padding: 55px 91px 46px;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        padding: 50px 44px 39px;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        padding: 47px 44px 40px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 48px 19px 36px;
    }
}