.profile__pencil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    background: url("../../../images/icons/profile-pencil.svg") no-repeat center center;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}


