.header {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;

    box-sizing: border-box;
    padding-top: 45px;
    padding-right: 200px;
    padding-left: 200px;
}


@media screen and (max-width: 700px) {
    .header {
        padding-top: 35px;
        padding-right: 91px;
        padding-left: 91px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        padding-top: 30px;
        padding-right: 44px;
        padding-left: 44px;
    }
}

@media screen and (max-width: 350px) {
    .header {
        padding-top: 28px;
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding-right: 19px;
        padding-left: 19px;
        border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    }
}
