.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    align-items: stretch;
    justify-items: stretch;

    gap: 20px 17px;
    box-sizing: border-box;

    line-height: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;

}